# Case Covid

Revisão geral dos fundamentos

Usaremos: [covid19api](https://covid19api.com)
Documentação [Api](https://documenter.getpostman.com/view/10808728/SzS8rjbc)

In [13]:
import requests

In [14]:
url = 'https://covid19-brazil-api.now.sh/api/report/v1'

In [15]:
requests.get(url)

In [16]:
print(response.text)

NameError: name 'response' is not defined

In [18]:
import requests
# https://covid19-brazil-api-docs.vercel.app

url = 'https://covid19-brazil-api.now.sh/api/report/v1'
headers = {}
payload = {}

response = requests.request('GET', url, data=payload, headers=headers)
print(response.text)

{"data":[{"uid":35,"uf":"SP","state":"São Paulo","cases":6650301,"deaths":180978,"suspects":5334,"refuses":596,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":31,"uf":"MG","state":"Minas Gerais","cases":4209719,"deaths":65740,"suspects":925,"refuses":104,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":43,"uf":"RS","state":"Rio Grande do Sul","cases":3051755,"deaths":42428,"suspects":416,"refuses":330,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":41,"uf":"PR","state":"Paraná","cases":2949869,"deaths":46450,"suspects":400,"refuses":119,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":33,"uf":"RJ","state":"Rio de Janeiro","cases":2822569,"deaths":77367,"suspects":1254,"refuses":148,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":42,"uf":"SC","state":"Santa Catarina","cases":2028954,"deaths":22859,"suspects":346,"refuses":47,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":52,"uf":"GO","state":"Goiás","cases":1949272,"deaths":28311,"suspects":353,"refuses":55,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":29,"uf":"BA","state":"Bahia","cases":1805388,"deaths":31696,"suspects":573,"refuses":36,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":23,"uf":"CE","state":"Ceará","cases":1470946,"deaths":28211,"suspects":493,"refuses":89,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":32,"uf":"ES","state":"Espírito Santo","cases":1339090,"deaths":15107,"suspects":71,"refuses":21,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":26,"uf":"PE","state":"Pernambuco","cases":1191503,"deaths":23012,"suspects":89,"refuses":23,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":53,"uf":"DF","state":"Distrito Federal","cases":911135,"deaths":11871,"suspects":327,"refuses":107,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":51,"uf":"MT","state":"Mato Grosso","cases":886763,"deaths":15139,"suspects":45,"refuses":8,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":15,"uf":"PA","state":"Pará","cases":884181,"deaths":19146,"suspects":43,"refuses":23,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":25,"uf":"PB","state":"Paraíba","cases":712789,"deaths":10575,"suspects":85,"refuses":11,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":13,"uf":"AM","state":"Amazonas","cases":637301,"deaths":14481,"suspects":18,"refuses":26,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":50,"uf":"MS","state":"Mato Grosso do Sul","cases":615459,"deaths":11085,"suspects":93,"refuses":26,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":24,"uf":"RN","state":"Rio Grande do Norte","cases":592076,"deaths":8993,"suspects":108,"refuses":22,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":21,"uf":"MA","state":"Maranhão","cases":496960,"deaths":11078,"suspects":125,"refuses":13,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":11,"uf":"RO","state":"Rondônia","cases":487941,"deaths":7466,"suspects":61,"refuses":2,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":22,"uf":"PI","state":"Piauí","cases":433438,"deaths":8393,"suspects":12,"refuses":2,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":17,"uf":"TO","state":"Tocantins","cases":371606,"deaths":4245,"suspects":13,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":28,"uf":"SE","state":"Sergipe","cases":363112,"deaths":6535,"suspects":15,"refuses":11,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":27,"uf":"AL","state":"Alagoas","cases":340853,"deaths":7300,"suspects":43,"refuses":22,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":16,"uf":"AP","state":"Amapá","cases":186293,"deaths":2169,"suspects":15,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":14,"uf":"RR","state":"Roraima","cases":185825,"deaths":2199,"suspects":9,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":12,"uf":"AC","state":"Acre","cases":163959,"deaths":2063,"suspects":12,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"}]}

In [19]:
type(response)

requests.models.Response

In [21]:
type(response.text)

str

In [24]:
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [27]:
# jogando o conteudo para json e verificando as chaves que ele tem
content = response.json()
print(content)

{'data': [{'uid': 35, 'uf': 'SP', 'state': 'São Paulo', 'cases': 6650301, 'deaths': 180978, 'suspects': 5334, 'refuses': 596, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 31, 'uf': 'MG', 'state': 'Minas Gerais', 'cases': 4209719, 'deaths': 65740, 'suspects': 925, 'refuses': 104, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 43, 'uf': 'RS', 'state': 'Rio Grande do Sul', 'cases': 3051755, 'deaths': 42428, 'suspects': 416, 'refuses': 330, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 41, 'uf': 'PR', 'state': 'Paraná', 'cases': 2949869, 'deaths': 46450, 'suspects': 400, 'refuses': 119, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 33, 'uf': 'RJ', 'state': 'Rio de Janeiro', 'cases': 2822569, 'deaths': 77367, 'suspects': 1254, 'refuses': 148, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 42, 'uf': 'SC', 'state': 'Santa Catarina', 'cases': 2028954, 'deaths': 22859, 'suspects': 346, 'refuses': 47, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 52, 'uf': 'GO', 'state': 'Goiás', 'cases': 1949272, 'deaths': 28311, 'suspects': 353, 'refuses': 55, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 29, 'uf': 'BA', 'state': 'Bahia', 'cases': 1805388, 'deaths': 31696, 'suspects': 573, 'refuses': 36, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 23, 'uf': 'CE', 'state': 'Ceará', 'cases': 1470946, 'deaths': 28211, 'suspects': 493, 'refuses': 89, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 32, 'uf': 'ES', 'state': 'Espírito Santo', 'cases': 1339090, 'deaths': 15107, 'suspects': 71, 'refuses': 21, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 26, 'uf': 'PE', 'state': 'Pernambuco', 'cases': 1191503, 'deaths': 23012, 'suspects': 89, 'refuses': 23, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 53, 'uf': 'DF', 'state': 'Distrito Federal', 'cases': 911135, 'deaths': 11871, 'suspects': 327, 'refuses': 107, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 51, 'uf': 'MT', 'state': 'Mato Grosso', 'cases': 886763, 'deaths': 15139, 'suspects': 45, 'refuses': 8, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 15, 'uf': 'PA', 'state': 'Pará', 'cases': 884181, 'deaths': 19146, 'suspects': 43, 'refuses': 23, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 25, 'uf': 'PB', 'state': 'Paraíba', 'cases': 712789, 'deaths': 10575, 'suspects': 85, 'refuses': 11, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 13, 'uf': 'AM', 'state': 'Amazonas', 'cases': 637301, 'deaths': 14481, 'suspects': 18, 'refuses': 26, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 50, 'uf': 'MS', 'state': 'Mato Grosso do Sul', 'cases': 615459, 'deaths': 11085, 'suspects': 93, 'refuses': 26, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 24, 'uf': 'RN', 'state': 'Rio Grande do Norte', 'cases': 592076, 'deaths': 8993, 'suspects': 108, 'refuses': 22, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 21, 'uf': 'MA', 'state': 'Maranhão', 'cases': 496960, 'deaths': 11078, 'suspects': 125, 'refuses': 13, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 11, 'uf': 'RO', 'state': 'Rondônia', 'cases': 487941, 'deaths': 7466, 'suspects': 61, 'refuses': 2, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 22, 'uf': 'PI', 'state': 'Piauí', 'cases': 433438, 'deaths': 8393, 'suspects': 12, 'refuses': 2, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 17, 'uf': 'TO', 'state': 'Tocantins', 'cases': 371606, 'deaths': 4245, 'suspects': 13, 'refuses': 0, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 28, 'uf': 'SE', 'state': 'Sergipe', 'cases': 363112, 'deaths': 6535, 'suspects': 15, 'refuses': 11, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 27, 'uf': 'AL', 'state': 'Alagoas', 'cases': 340853, 'deaths': 7300, 'suspects': 43, 'refuses': 22, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 16, 'uf': 'AP', 'state': 'Amapá', 'cases': 186293, 'deaths': 2169, 'suspects': 15, 'refuses': 0, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 14, 'uf': 'RR', 'state': 'Roraima', 'cases': 185825, 'deaths': 2199, 'suspects': 9, 'refuses': 0, 'datetime': '2023-08-11T17:33:38.421Z'}, {'uid': 12, 'uf': 'AC', 'state': 'Acre', 'cases': 163959, 'deaths': 2063, 'suspects': 12, 'refuses': 0, 'datetime': '2023-08-11T17:33:38.421Z'}]}

In [30]:
content['data'][0].keys()

dict_keys(['uid', 'uf', 'state', 'cases', 'deaths', 'suspects', 'refuses', 'datetime'])

In [32]:
content_data = content['data'][0]
content_data

{'uid': 35,
 'uf': 'SP',
 'state': 'São Paulo',
 'cases': 6650301,
 'deaths': 180978,
 'suspects': 5334,
 'refuses': 596,
 'datetime': '2023-08-11T17:33:38.421Z'}

In [38]:
# content_data['uid']
# content_data['uf']
# content_data['cases']
# content_data['deaths']
# content_data['suspects']
# content_data['refuses']
# content_data['datetime']

'SP'

# Reescrevendo a API

A APi divulgada no curso não está funcionando. Entretanto existe uma alternativa de outra api para dar continuidade.

covid19-brazil-api-docs-vercel.app

In [46]:
import requests
import pandas as pd

In [41]:
url = 'https://covid19-brazil-api.now.sh/api/report/v1/'

In [42]:
response = requests.get(url)
response

In [43]:
response.text

'{"data":[{"uid":35,"uf":"SP","state":"São Paulo","cases":6650301,"deaths":180978,"suspects":5334,"refuses":596,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":31,"uf":"MG","state":"Minas Gerais","cases":4209719,"deaths":65740,"suspects":925,"refuses":104,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":43,"uf":"RS","state":"Rio Grande do Sul","cases":3051755,"deaths":42428,"suspects":416,"refuses":330,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":41,"uf":"PR","state":"Paraná","cases":2949869,"deaths":46450,"suspects":400,"refuses":119,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":33,"uf":"RJ","state":"Rio de Janeiro","cases":2822569,"deaths":77367,"suspects":1254,"refuses":148,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":42,"uf":"SC","state":"Santa Catarina","cases":2028954,"deaths":22859,"suspects":346,"refuses":47,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":52,"uf":"GO","state":"Goiás","cases":1949272,"deaths":28311,"suspects":353,"refuses":55,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":29,"uf":"BA","state":"Bahia","cases":1805388,"deaths":31696,"suspects":573,"refuses":36,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":23,"uf":"CE","state":"Ceará","cases":1470946,"deaths":28211,"suspects":493,"refuses":89,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":32,"uf":"ES","state":"Espírito Santo","cases":1339090,"deaths":15107,"suspects":71,"refuses":21,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":26,"uf":"PE","state":"Pernambuco","cases":1191503,"deaths":23012,"suspects":89,"refuses":23,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":53,"uf":"DF","state":"Distrito Federal","cases":911135,"deaths":11871,"suspects":327,"refuses":107,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":51,"uf":"MT","state":"Mato Grosso","cases":886763,"deaths":15139,"suspects":45,"refuses":8,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":15,"uf":"PA","state":"Pará","cases":884181,"deaths":19146,"suspects":43,"refuses":23,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":25,"uf":"PB","state":"Paraíba","cases":712789,"deaths":10575,"suspects":85,"refuses":11,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":13,"uf":"AM","state":"Amazonas","cases":637301,"deaths":14481,"suspects":18,"refuses":26,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":50,"uf":"MS","state":"Mato Grosso do Sul","cases":615459,"deaths":11085,"suspects":93,"refuses":26,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":24,"uf":"RN","state":"Rio Grande do Norte","cases":592076,"deaths":8993,"suspects":108,"refuses":22,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":21,"uf":"MA","state":"Maranhão","cases":496960,"deaths":11078,"suspects":125,"refuses":13,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":11,"uf":"RO","state":"Rondônia","cases":487941,"deaths":7466,"suspects":61,"refuses":2,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":22,"uf":"PI","state":"Piauí","cases":433438,"deaths":8393,"suspects":12,"refuses":2,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":17,"uf":"TO","state":"Tocantins","cases":371606,"deaths":4245,"suspects":13,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":28,"uf":"SE","state":"Sergipe","cases":363112,"deaths":6535,"suspects":15,"refuses":11,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":27,"uf":"AL","state":"Alagoas","cases":340853,"deaths":7300,"suspects":43,"refuses":22,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":16,"uf":"AP","state":"Amapá","cases":186293,"deaths":2169,"suspects":15,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":14,"uf":"RR","state":"Roraima","cases":185825,"deaths":2199,"suspects":9,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"},{"uid":12,"uf":"AC","state":"Acre","cases":163959,"deaths":2063,"suspects":12,"refuses":0,"datetime":"2023-08-11T17:33:38.421Z"}]}'

In [45]:
result = response.json()
dados = result['data']
dados

[{'uid': 35,
  'uf': 'SP',
  'state': 'São Paulo',
  'cases': 6650301,
  'deaths': 180978,
  'suspects': 5334,
  'refuses': 596,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 31,
  'uf': 'MG',
  'state': 'Minas Gerais',
  'cases': 4209719,
  'deaths': 65740,
  'suspects': 925,
  'refuses': 104,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 43,
  'uf': 'RS',
  'state': 'Rio Grande do Sul',
  'cases': 3051755,
  'deaths': 42428,
  'suspects': 416,
  'refuses': 330,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 41,
  'uf': 'PR',
  'state': 'Paraná',
  'cases': 2949869,
  'deaths': 46450,
  'suspects': 400,
  'refuses': 119,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 33,
  'uf': 'RJ',
  'state': 'Rio de Janeiro',
  'cases': 2822569,
  'deaths': 77367,
  'suspects': 1254,
  'refuses': 148,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 42,
  'uf': 'SC',
  'state': 'Santa Catarina',
  'cases': 2028954,
  'deaths': 22859,
  'suspects': 346,
  'refuses': 47,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 52,
  'uf': 'GO',
  'state': 'Goiás',
  'cases': 1949272,
  'deaths': 28311,
  'suspects': 353,
  'refuses': 55,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 29,
  'uf': 'BA',
  'state': 'Bahia',
  'cases': 1805388,
  'deaths': 31696,
  'suspects': 573,
  'refuses': 36,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 23,
  'uf': 'CE',
  'state': 'Ceará',
  'cases': 1470946,
  'deaths': 28211,
  'suspects': 493,
  'refuses': 89,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 32,
  'uf': 'ES',
  'state': 'Espírito Santo',
  'cases': 1339090,
  'deaths': 15107,
  'suspects': 71,
  'refuses': 21,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 26,
  'uf': 'PE',
  'state': 'Pernambuco',
  'cases': 1191503,
  'deaths': 23012,
  'suspects': 89,
  'refuses': 23,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 53,
  'uf': 'DF',
  'state': 'Distrito Federal',
  'cases': 911135,
  'deaths': 11871,
  'suspects': 327,
  'refuses': 107,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 51,
  'uf': 'MT',
  'state': 'Mato Grosso',
  'cases': 886763,
  'deaths': 15139,
  'suspects': 45,
  'refuses': 8,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 15,
  'uf': 'PA',
  'state': 'Pará',
  'cases': 884181,
  'deaths': 19146,
  'suspects': 43,
  'refuses': 23,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 25,
  'uf': 'PB',
  'state': 'Paraíba',
  'cases': 712789,
  'deaths': 10575,
  'suspects': 85,
  'refuses': 11,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 13,
  'uf': 'AM',
  'state': 'Amazonas',
  'cases': 637301,
  'deaths': 14481,
  'suspects': 18,
  'refuses': 26,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 50,
  'uf': 'MS',
  'state': 'Mato Grosso do Sul',
  'cases': 615459,
  'deaths': 11085,
  'suspects': 93,
  'refuses': 26,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 24,
  'uf': 'RN',
  'state': 'Rio Grande do Norte',
  'cases': 592076,
  'deaths': 8993,
  'suspects': 108,
  'refuses': 22,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 21,
  'uf': 'MA',
  'state': 'Maranhão',
  'cases': 496960,
  'deaths': 11078,
  'suspects': 125,
  'refuses': 13,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 11,
  'uf': 'RO',
  'state': 'Rondônia',
  'cases': 487941,
  'deaths': 7466,
  'suspects': 61,
  'refuses': 2,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 22,
  'uf': 'PI',
  'state': 'Piauí',
  'cases': 433438,
  'deaths': 8393,
  'suspects': 12,
  'refuses': 2,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 17,
  'uf': 'TO',
  'state': 'Tocantins',
  'cases': 371606,
  'deaths': 4245,
  'suspects': 13,
  'refuses': 0,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 28,
  'uf': 'SE',
  'state': 'Sergipe',
  'cases': 363112,
  'deaths': 6535,
  'suspects': 15,
  'refuses': 11,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 27,
  'uf': 'AL',
  'state': 'Alagoas',
  'cases': 340853,
  'deaths': 7300,
  'suspects': 43,
  'refuses': 22,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 16,
  'uf': 'AP',
  'state': 'Amapá',
  'cases': 186293,
  'deaths': 2169,
  'suspects': 15,
  'refuses': 0,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 14,
  'uf': 'RR',
  'state': 'Roraima',
  'cases': 185825,
  'deaths': 2199,
  'suspects': 9,
  'refuses': 0,
  'datetime': '2023-08-11T17:33:38.421Z'},
 {'uid': 12,
  'uf': 'AC',
  'state': 'Acre',
  'cases': 163959,
  'deaths': 2063,
  'suspects': 12,
  'refuses': 0,
  'datetime': '2023-08-11T17:33:38.421Z'}]

In [49]:
df = pd.DataFrame(dados)
df

,uid,uf,state,cases,deaths,suspects,refuses,datetime
0,35,SP,São Paulo,6650301,180978,5334,596,2023-08-11T17:33:38.421Z
1,31,MG,Minas Gerais,4209719,65740,925,104,2023-08-11T17:33:38.421Z
2,43,RS,Rio Grande do Sul,3051755,42428,416,330,2023-08-11T17:33:38.421Z
3,41,PR,Paraná,2949869,46450,400,119,2023-08-11T17:33:38.421Z
4,33,RJ,Rio de Janeiro,2822569,77367,1254,148,2023-08-11T17:33:38.421Z
5,42,SC,Santa Catarina,2028954,22859,346,47,2023-08-11T17:33:38.421Z
6,52,GO,Goiás,1949272,28311,353,55,2023-08-11T17:33:38.421Z
7,29,BA,Bahia,1805388,31696,573,36,2023-08-11T17:33:38.421Z
8,23,CE,Ceará,1470946,28211,493,89,2023-08-11T17:33:38.421Z
9,32,ES,Espírito Santo,1339090,15107,71,21,2023-08-11T17:33:38.421Z
10,26,PE,Pernambuco,1191503,23012,89,23,2023-08-11T17:33:38.421Z
11,53,DF,Distrito Federal,911135,11871,327,107,2023-08-11T17:33:38.421Z
12,51,MT,Mato Grosso,886763,15139,45,8,2023-08-11T17:33:38.421Z
13,15,PA,Pará,884181,19146,43,23,2023-08-11T17:33:38.421Z
14,25,PB,Paraíba,712789,10575,85,11,2023-08-11T17:33:38.421Z
15,13,AM,Amazonas,637301,14481,18,26,2023-08-11T17:33:38.421Z
16,50,MS,Mato Grosso do Sul,615459,11085,93,26,2023-08-11T17:33:38.421Z
17,24,RN,Rio Grande do Norte,592076,8993,108,22,2023-08-11T17:33:38.421Z
18,21,MA,Maranhão,496960,11078,125,13,2023-08-11T17:33:38.421Z
19,11,RO,Rondônia,487941,7466,61,2,2023-08-11T17:33:38.421Z
20,22,PI,Piauí,433438,8393,12,2,2023-08-11T17:33:38.421Z
21,17,TO,Tocantins,371606,4245,13,0,2023-08-11T17:33:38.421Z
22,28,SE,Sergipe,363112,6535,15,11,2023-08-11T17:33:38.421Z
23,27,AL,Alagoas,340853,7300,43,22,2023-08-11T17:33:38.421Z
24,16,AP,Amapá,186293,2169,15,0,2023-08-11T17:33:38.421Z
25,14,RR,Roraima,185825,2199,9,0,2023-08-11T17:33:38.421Z
26,12,AC,Acre,163959,2063,12,0,2023-08-11T17:33:38.421Z

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   uid       27 non-null     int64
 1   uf        27 non-null     object
 2   state     27 non-null     object
 3   cases     27 non-null     int64
 4   deaths    27 non-null     int64
 5   suspects  27 non-null     int64
 6   refuses   27 non-null     int64
 7   datetime  27 non-null     object
dtypes: int64(5), object(3)
memory usage: 1.8+ KB

In [51]:
# Alterando para países


response  = requests.get(url + 'countries')
result = response.json()
dados = result['data']
dados

[{'country': 'Afghanistan',
  'cases': None,
  'confirmed': 209484,
  'deaths': 7896,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Albania',
  'cases': None,
  'confirmed': 334457,
  'deaths': 3598,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Algeria',
  'cases': None,
  'confirmed': 271496,
  'deaths': 6881,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Andorra',
  'cases': None,
  'confirmed': 47890,
  'deaths': 165,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Angola',
  'cases': None,
  'confirmed': 105288,
  'deaths': 1933,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Antarctica',
  'cases': None,
  'confirmed': 11,
  'deaths': 0,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Antigua and Barbuda',
  'cases': None,
  'confirmed': 9106,
  'deaths': 146,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Argentina',
  'cases': None,
  'confirmed': 10044957,
  'deaths': 130472,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Armenia',
  'cases': None,
  'confirmed': 447308,
  'deaths': 8727,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Australia',
  'cases': None,
  'confirmed': 11401996,
  'deaths': 19578,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Austria',
  'cases': None,
  'confirmed': 5961143,
  'deaths': 21970,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Azerbaijan',
  'cases': None,
  'confirmed': 828825,
  'deaths': 10138,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bahamas',
  'cases': None,
  'confirmed': 37491,
  'deaths': 833,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bahrain',
  'cases': None,
  'confirmed': 710693,
  'deaths': 1553,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bangladesh',
  'cases': None,
  'confirmed': 2037871,
  'deaths': 29445,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Barbados',
  'cases': None,
  'confirmed': 106798,
  'deaths': 579,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Belarus',
  'cases': None,
  'confirmed': 994037,
  'deaths': 7118,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Belgium',
  'cases': None,
  'confirmed': 4739365,
  'deaths': 33814,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Belize',
  'cases': None,
  'confirmed': 70757,
  'deaths': 688,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Benin',
  'cases': None,
  'confirmed': 27999,
  'deaths': 163,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bhutan',
  'cases': None,
  'confirmed': 62627,
  'deaths': 21,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bolivia',
  'cases': None,
  'confirmed': 1194277,
  'deaths': 22365,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bosnia and Herzegovina',
  'cases': None,
  'confirmed': 401729,
  'deaths': 16280,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Botswana',
  'cases': None,
  'confirmed': 329758,
  'deaths': 2801,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Brazil',
  'cases': None,
  'confirmed': 37085675,
  'deaths': 699310,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Brunei',
  'cases': None,
  'confirmed': 279661,
  'deaths': 225,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Bulgaria',
  'cases': None,
  'confirmed': 1297523,
  'deaths': 38228,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Burkina Faso',
  'cases': None,
  'confirmed': 22056,
  'deaths': 396,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Burma',
  'cases': None,
  'confirmed': 633950,
  'deaths': 19490,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Burundi',
  'cases': None,
  'confirmed': 53631,
  'deaths': 38,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Cabo Verde',
  'cases': None,
  'confirmed': 63244,
  'deaths': 413,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Cambodia',
  'cases': None,
  'confirmed': 138719,
  'deaths': 3056,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Cameroon',
  'cases': None,
  'confirmed': 124392,
  'deaths': 1965,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Canada',
  'cases': None,
  'confirmed': 4617095,
  'deaths': 51720,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Central African Republic',
  'cases': None,
  'confirmed': 15368,
  'deaths': 113,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Chad',
  'cases': None,
  'confirmed': 7679,
  'deaths': 194,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Chile',
  'cases': None,
  'confirmed': 5192286,
  'deaths': 64273,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'China',
  'cases': None,
  'confirmed': 4903524,
  'deaths': 101056,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Colombia',
  'cases': None,
  'confirmed': 6359093,
  'deaths': 142339,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Comoros',
  'cases': None,
  'confirmed': 9008,
  'deaths': 161,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Congo (Brazzaville)',
  'cases': None,
  'confirmed': 25087,
  'deaths': 388,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Congo (Kinshasa)',
  'cases': None,
  'confirmed': 95749,
  'deaths': 1464,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Costa Rica',
  'cases': None,
  'confirmed': 1209725,
  'deaths': 9245,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': "Cote d'Ivoire",
  'cases': None,
  'confirmed': 88263,
  'deaths': 834,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Croatia',
  'cases': None,
  'confirmed': 1269326,
  'deaths': 17987,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Cuba',
  'cases': None,
  'confirmed': 1112643,
  'deaths': 8530,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Cyprus',
  'cases': None,
  'confirmed': 650685,
  'deaths': 1330,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Czechia',
  'cases': None,
  'confirmed': 4619204,
  'deaths': 42497,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Denmark',
  'cases': None,
  'confirmed': 3451036,
  'deaths': 8345,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Diamond Princess',
  'cases': None,
  'confirmed': 712,
  'deaths': 13,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Djibouti',
  'cases': None,
  'confirmed': 15690,
  'deaths': 189,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Dominica',
  'cases': None,
  'confirmed': 15760,
  'deaths': 74,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Dominican Republic',
  'cases': None,
  'confirmed': 660790,
  'deaths': 4384,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Ecuador',
  'cases': None,
  'confirmed': 1057121,
  'deaths': 36014,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Egypt',
  'cases': None,
  'confirmed': 515759,
  'deaths': 24812,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'El Salvador',
  'cases': None,
  'confirmed': 201785,
  'deaths': 4230,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Equatorial Guinea',
  'cases': None,
  'confirmed': 17229,
  'deaths': 183,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Eritrea',
  'cases': None,
  'confirmed': 10189,
  'deaths': 103,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Estonia',
  'cases': None,
  'confirmed': 615433,
  'deaths': 2946,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Eswatini',
  'cases': None,
  'confirmed': 74267,
  'deaths': 1425,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Ethiopia',
  'cases': None,
  'confirmed': 500116,
  'deaths': 7572,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Fiji',
  'cases': None,
  'confirmed': 68898,
  'deaths': 883,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Finland',
  'cases': None,
  'confirmed': 1463644,
  'deaths': 8967,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'France',
  'cases': None,
  'confirmed': 39866718,
  'deaths': 166176,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Gabon',
  'cases': None,
  'confirmed': 48981,
  'deaths': 306,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Gambia',
  'cases': None,
  'confirmed': 12598,
  'deaths': 372,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Georgia',
  'cases': None,
  'confirmed': 1827537,
  'deaths': 16971,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Germany',
  'cases': None,
  'confirmed': 38249060,
  'deaths': 168935,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Ghana',
  'cases': None,
  'confirmed': 171229,
  'deaths': 1462,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Greece',
  'cases': None,
  'confirmed': 5548487,
  'deaths': 34779,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Grenada',
  'cases': None,
  'confirmed': 19680,
  'deaths': 238,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Guatemala',
  'cases': None,
  'confirmed': 1238247,
  'deaths': 20182,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Guinea',
  'cases': None,
  'confirmed': 38267,
  'deaths': 467,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Guinea-Bissau',
  'cases': None,
  'confirmed': 8960,
  'deaths': 176,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Guyana',
  'cases': None,
  'confirmed': 73075,
  'deaths': 1298,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Haiti',
  'cases': None,
  'confirmed': 34202,
  'deaths': 860,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Holy See',
  'cases': None,
  'confirmed': 29,
  'deaths': 0,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Honduras',
  'cases': None,
  'confirmed': 472250,
  'deaths': 11111,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Hungary',
  'cases': None,
  'confirmed': 2196804,
  'deaths': 48762,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Iceland',
  'cases': None,
  'confirmed': 209137,
  'deaths': 263,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'India',
  'cases': None,
  'confirmed': 44690738,
  'deaths': 530779,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Indonesia',
  'cases': None,
  'confirmed': 6738225,
  'deaths': 160941,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Iran',
  'cases': None,
  'confirmed': 7572311,
  'deaths': 144933,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Iraq',
  'cases': None,
  'confirmed': 2465545,
  'deaths': 25375,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Ireland',
  'cases': None,
  'confirmed': 1704502,
  'deaths': 8708,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Israel',
  'cases': None,
  'confirmed': 4804188,
  'deaths': 12329,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Italy',
  'cases': None,
  'confirmed': 25603510,
  'deaths': 188322,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Jamaica',
  'cases': None,
  'confirmed': 154416,
  'deaths': 3514,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Japan',
  'cases': None,
  'confirmed': 33329551,
  'deaths': 73046,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Jordan',
  'cases': None,
  'confirmed': 1746997,
  'deaths': 14122,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kazakhstan',
  'cases': None,
  'confirmed': 1498668,
  'deaths': 19071,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kenya',
  'cases': None,
  'confirmed': 342937,
  'deaths': 5688,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kiribati',
  'cases': None,
  'confirmed': 5014,
  'deaths': 18,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Korea, North',
  'cases': None,
  'confirmed': 1,
  'deaths': 6,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Korea, South',
  'cases': None,
  'confirmed': 30615522,
  'deaths': 34093,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kosovo',
  'cases': None,
  'confirmed': 273348,
  'deaths': 3211,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kuwait',
  'cases': None,
  'confirmed': 663860,
  'deaths': 2570,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Kyrgyzstan',
  'cases': None,
  'confirmed': 206708,
  'deaths': 2991,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Laos',
  'cases': None,
  'confirmed': 218023,
  'deaths': 758,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Latvia',
  'cases': None,
  'confirmed': 976267,
  'deaths': 6269,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Lebanon',
  'cases': None,
  'confirmed': 1232828,
  'deaths': 10841,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Lesotho',
  'cases': None,
  'confirmed': 34790,
  'deaths': 723,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Liberia',
  'cases': None,
  'confirmed': 8090,
  'deaths': 295,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Libya',
  'cases': None,
  'confirmed': 507187,
  'deaths': 6437,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Liechtenstein',
  'cases': None,
  'confirmed': 21432,
  'deaths': 89,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Lithuania',
  'cases': None,
  'confirmed': 1308131,
  'deaths': 9598,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Luxembourg',
  'cases': None,
  'confirmed': 317367,
  'deaths': 1220,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'MS Zaandam',
  'cases': None,
  'confirmed': 9,
  'deaths': 2,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Madagascar',
  'cases': None,
  'confirmed': 67889,
  'deaths': 1423,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Malawi',
  'cases': None,
  'confirmed': 88707,
  'deaths': 2686,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Malaysia',
  'cases': None,
  'confirmed': 5044718,
  'deaths': 36967,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Maldives',
  'cases': None,
  'confirmed': 185738,
  'deaths': 311,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mali',
  'cases': None,
  'confirmed': 33062,
  'deaths': 743,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Malta',
  'cases': None,
  'confirmed': 117610,
  'deaths': 828,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Marshall Islands',
  'cases': None,
  'confirmed': 15649,
  'deaths': 17,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mauritania',
  'cases': None,
  'confirmed': 63668,
  'deaths': 997,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mauritius',
  'cases': None,
  'confirmed': 296042,
  'deaths': 1044,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mexico',
  'cases': None,
  'confirmed': 7483444,
  'deaths': 333188,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Micronesia',
  'cases': None,
  'confirmed': 23948,
  'deaths': 61,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Moldova',
  'cases': None,
  'confirmed': 611140,
  'deaths': 12003,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Monaco',
  'cases': None,
  'confirmed': 16121,
  'deaths': 67,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mongolia',
  'cases': None,
  'confirmed': 1007900,
  'deaths': 2136,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Montenegro',
  'cases': None,
  'confirmed': 288808,
  'deaths': 2808,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Morocco',
  'cases': None,
  'confirmed': 1272490,
  'deaths': 16296,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Mozambique',
  'cases': None,
  'confirmed': 233214,
  'deaths': 2242,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Namibia',
  'cases': None,
  'confirmed': 171156,
  'deaths': 4090,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Nauru',
  'cases': None,
  'confirmed': 5393,
  'deaths': 1,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Nepal',
  'cases': None,
  'confirmed': 1001154,
  'deaths': 12020,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Netherlands',
  'cases': None,
  'confirmed': 8712835,
  'deaths': 23707,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'New Zealand',
  'cases': None,
  'confirmed': 2236114,
  'deaths': 2550,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Nicaragua',
  'cases': None,
  'confirmed': 15655,
  'deaths': 245,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Niger',
  'cases': None,
  'confirmed': 9508,
  'deaths': 315,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Nigeria',
  'cases': None,
  'confirmed': 266598,
  'deaths': 3155,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'North Macedonia',
  'cases': None,
  'confirmed': 346852,
  'deaths': 9662,
  'recovered': None,
  'updated_at': '2023-03-10T13:21:02.000Z'},
 {'country': 'Norway',
  'cases': None,

In [52]:
df = pd.DataFrame(dados)
df

,country,cases,confirmed,deaths,recovered,updated_at
0,Afghanistan,None,209484,7896,None,2023-03-10T13:21:02.000Z
1,Albania,None,334457,3598,None,2023-03-10T13:21:02.000Z
2,Algeria,None,271496,6881,None,2023-03-10T13:21:02.000Z
3,Andorra,None,47890,165,None,2023-03-10T13:21:02.000Z
4,Angola,None,105288,1933,None,2023-03-10T13:21:02.000Z
...,...,...,...,...,...,...
196,West Bank and Gaza,None,703228,5708,None,2023-03-10T13:21:02.000Z
197,Winter Olympics 2022,None,535,0,None,2023-03-10T13:21:02.000Z
198,Yemen,None,11945,2159,None,2023-03-10T13:21:02.000Z
199,Zambia,None,343135,4057,None,2023-03-10T13:21:02.000Z
200,Zimbabwe,None,264276,5671,None,2023-03-10T13:21:02.000Z

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     201 non-null    object
 1   cases       0 non-null      object
 2   confirmed   201 non-null    int64
 3   deaths      201 non-null    int64
 4   recovered   0 non-null      object
 5   updated_at  201 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.5+ KB

In [54]:
# deletando as colunas vazias
del df['cases']
del df['recovered']

In [55]:
df

                  country  confirmed  deaths                updated_at
0             Afghanistan     209484    7896  2023-03-10T13:21:02.000Z
1                 Albania     334457    3598  2023-03-10T13:21:02.000Z
2                 Algeria     271496    6881  2023-03-10T13:21:02.000Z
3                 Andorra      47890     165  2023-03-10T13:21:02.000Z
4                  Angola     105288    1933  2023-03-10T13:21:02.000Z
..                    ...        ...     ...                       ...
196    West Bank and Gaza     703228    5708  2023-03-10T13:21:02.000Z
197  Winter Olympics 2022        535       0  2023-03-10T13:21:02.000Z
198                 Yemen      11945    2159  2023-03-10T13:21:02.000Z
199                Zambia     343135    4057  2023-03-10T13:21:02.000Z
200              Zimbabwe     264276    5671  2023-03-10T13:21:02.000Z

[201 rows x 4 columns]

In [57]:
# verificando duplicados
df.duplicated().any()
# o any é para agrupar e verificar todo o conjunto de dados de forma consolidada
# caso não use o any vai retornar linha a linha do df retornando true ou false

False

In [59]:
df.nunique()

country       201
confirmed     201
deaths        194
updated_at      2
dtype: int64

In [63]:
df.drop(columns=['updated_at'], inplace=True)

KeyError: "['updated_at'] not found in axis"

In [64]:
df

                  country  confirmed  deaths
0             Afghanistan     209484    7896
1                 Albania     334457    3598
2                 Algeria     271496    6881
3                 Andorra      47890     165
4                  Angola     105288    1933
..                    ...        ...     ...
196    West Bank and Gaza     703228    5708
197  Winter Olympics 2022        535       0
198                 Yemen      11945    2159
199                Zambia     343135    4057
200              Zimbabwe     264276    5671

[201 rows x 3 columns]

In [66]:
df.columns = [
    'pais',
    'total_confirmados',
    'total_obitos',
]
df

                     pais  total_confirmados  total_obitos
0             Afghanistan             209484          7896
1                 Albania             334457          3598
2                 Algeria             271496          6881
3                 Andorra              47890           165
4                  Angola             105288          1933
..                    ...                ...           ...
196    West Bank and Gaza             703228          5708
197  Winter Olympics 2022                535             0
198                 Yemen              11945          2159
199                Zambia             343135          4057
200              Zimbabwe             264276          5671

[201 rows x 3 columns]

In [67]:
df.to_csv('cleaned_covid.csv', index=False)