# Pandas Exercícios

Contexto: Iremos simular a realização de uma prova de redação a nível nacional. Sendo assim:

1. Cria um dataframe pandas com 1000 amostras em cada uma das seguintes colunas: <br>
1.1. Idade: números inteiros aleatórios entre 0 e 100 (inclusos). <br>
1.2. Data: datas aleatórias entre 01/01/2000 até 31/01/2000. <br>
1.3. Nota: Números decimais entre 0 e 1000. <br>
1.4. Sexo: Valores aleatórios de M ou F. <br>
1.5: Estado: Valores aleatórios entre os estados do Brasil. <br>

In [5]:
import numpy as np
import pandas as pd

In [7]:
#Seetup
np.random.seed(0)
amostra = 1000
datas = pd.date_range('2000-01-01', '2000-01-31')
sexo = ['M', 'F']
uf = [
    'AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT',
    'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO',
    'RR', 'SC', 'SP', 'SE', 'TO' 
]

df = pd.DataFrame ({
    'idade': np.random.randint(0, 101, amostra),
    'data': np.random.choice(datas, amostra),
    'notas': np.random.uniform(0, 1000.1, amostra),
    'sexo': np.random.choice(sexo, amostra),
    'uf': np.random.choice(uf, amostra)
})
df.head()

   idade       data       notas sexo  uf
0     44 2000-01-15  102.456526    F  RR
1     47 2000-01-06  397.065535    F  RS
2     64 2000-01-23  276.677395    M  RR
3     67 2000-01-20  506.393554    F  MT
4     67 2000-01-16  349.932670    F  SP

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   idade   1000 non-null   int64
 1   data    1000 non-null   datetime64[ns]
 2   notas   1000 non-null   float64
 3   sexo    1000 non-null   object
 4   uf      1000 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 39.2+ KB

2. Utilizando pandas, realize as seguintes alterações no dataset:<br>
2.1. Preencha as notas nulas com valor 0, simulando uma atribuição automática do sistema.<br>
2.2. Preencha as notas nulas com valor 0, simulando uma atribuição automática do sistema.<br>
2.3. Remova alunos com idades inferiores a 18 e superiores a 80, simulando uma filtragem automática do sistema para alunos com idades incosistentes.<br>
2.4. Crie um novo campo de aprovado para os alunos restantes que obtiveram nota igual ou superior a 600. Simulando uma correção automática.<br>
2.5. Crie um campo novo indicando o dia da semana para todas as datas.<br>

3. Gere um relatório com os seguintes tópicos:<br>
3.1. Tabela cruzada de participantes de cada sexo por estado.<br>
3.2. Gráfico de pizza da quantidade de aprovados por sexo, e um de barras com a quantidade de aprovados por estado.<br>
3.3. Gráfico de pontos de nota por idade, colorindo por sexo.<br>
3.3.1. Gráfico de barras com a participação por dia da semana e por dia do mês.<br>
3.3.2. Gráfico de pontos das notas por dia da semana.<br>

4. Salve um arquivo csv com as notas dos 100 melhores alunos ordenados da melhor nota para a pior nota.